:root {
  --animation-time: 3s;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.verification-code-container {
  background-color: #b2bec3;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.verification-code {
  margin: 5px 0;
  font-weight: bold;
}

.timer-container {
  position: absolute;
  top: 25%;
  right: 1%;
}

.ticket-container {
  margin-top: 1em;
  background-color: #fff;
}

.badge {
  color: #fff;
  background: #dc3545;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: 0.9em;
  padding-left: 0.9em;
  border-radius: 10rem;
}

.card {
  padding: 0.4em 1em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.trip-container {
  margin: 0 -1em;
}

#icon {
  z-index: 5;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

.orange {
  background-color: #e67e22;
}

.wrap {
  text-align: center;
  position: relative;
}

.links {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.wrap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #fff;
  background: #fff;
  width: 100%;
  transform: translateY(-50%);
}

.arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  z-index: 3;
}

.trip {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0;
}

.trip li {
  display: inline;
}

.trip li + li:before {
  content: " - ";
  padding: 0 2em;
}

.spacer {
  padding: 10px 0;
}

.about {
  font-weight: bold;
}

.move-right {
  -webkit-animation: moveRight var(--animation-time) ease;
  -moz-animation: moveRight var(--animation-time) ease;
  -o-animation: moveRight var(--animation-time) ease;
  animation: moveRight var(--animation-time) ease;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  animation-fill-mode: forwards;
}
@-webkit-keyframes moveRight {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: calc(100% - 40px);
  }
}
@-moz-keyframes moveRight {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: calc(100% - 40px);
  }
}
@-ms-keyframes moveRight {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: calc(100% - 40px);
  }
}
@-o-keyframes moveRight {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: calc(100% - 40px);
  }
}
@keyframes moveRight {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: calc(100% - 40px);
  }
}
